.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin: 24px 96px;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 24px;
}

@media (max-width: 1500px) {
  .my-masonry-grid {
    margin: 24px 64px;
  }
}
@media (max-width: 1100px) {
  .my-masonry-grid {
    margin: 24px 24px;
  }
}
@media (max-width: 700px) {
  .my-masonry-grid {
    margin: 24px 8px;
  }
}
@media (min-width: 600) {
  .my-masonry-grid {
    margin: 24px 0px;
  }
}
@media (min-width: 400) {
  .my-masonry-grid {
    margin: 24px 0px;
  }
}
